/* UTILITY */
.text-center{
  text-align: center;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

.d-none{
  display: none;
}

.up{
  text-transform: uppercase;
}

.hide{
  display: none;
}

/* GENERAL */
body{
  background-color: brown;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  color: white;
  font-size: 2rem;
}

h4{
  color: brown;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.box{
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
  padding: 20px 100px;
}

.box input, .box select{
  border: 1px solid brown;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.1rem;
}

.box input:focus, .box select:focus{
  outline: 1px solid brown;
}

.box select{
  background-color: white;
}

.box button{
  background-color: white;
  border: 1px solid brown;
  font-size: 1.1rem;
  color: brown;
  padding: 10px 40px;
  font-weight: bold;
  margin: 25px 20px;
  border-radius: 10px;
}

.box button:hover{
  cursor: pointer;
  outline: 1px solid brown;
  box-shadow: 0px 0px 5px lightgray;
}

.box button:active{
  cursor: pointer;
  background-color: brown;
  color: white;
}

.ticket{
  background-color: rgb(236, 236, 236);
  background-image: url(../img/logo.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  width: 900px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: left;
  box-shadow: 0px 0px 10px black;
}

table{
  table-layout:fixed;
}

table, th, td {
  border: 1px solid black;
}

table tr td{
  padding: 8px 4px;
  overflow: hidden;
}

table tr:first-child td:first-child{
  padding-left: 10px;
  width: 5%;
  writing-mode:vertical-lr;
}

table tr:first-child td:nth-child(2){
  width: 14%;
}

table tr:first-child td:nth-child(3){
  width: 42%;
}

table tr:first-child td:nth-child(4){
  width: 28%;
}

table tr:first-child td:last-child{
  width: 11%;
}